In [2]:
import pandas as pd

In [12]:
df_= pd.read_csv('/home/anshul-mtp/Downloads/all_git_1.csv')
df_1= pd.read_csv('/home/anshul-mtp/Downloads/all.csv')

In [13]:
print(df_.shape)
print(df_1.shape)

(1267, 14)
(1267, 2049)

In [14]:
df_final = pd.concat([df_, df_1], axis=1)
print(df_final.shape)

(1267, 2063)

In [15]:
df_final.head(1)

,Unnamed: 0,label,true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,label_id,speaker_id,job_id,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,0,true,30,30.1,42,23,18,5,6,2,...,0.000002,-0.000088,0.000016,-0.054505,0.023598,0.011743,-0.005263,-6.092151e-08,-0.000072,0.023266

In [87]:
df_final.to_csv('/home/anshul-mtp/Desktop/Ayush_5th_yr/assignment/final_combined1.csv')

In [88]:
df_final.shape

(1267, 2063)